p {
    padding: calc(3vh - 13px);
}

h2 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    padding: calc(3vh - 10px);
}

a {
    color: inherit;
}

#topBar {
    height: 8vh;
    width: 100%;
    background-color: #1F2022;
}

#novaTitle {
    position: absolute;
    margin: 0;
    padding: 0;
    top: calc(4vh - 15px);
    left: 1vw;
    font-size: 25px;
    color: #D3D3D3;
    font-family: "HelveticaNeueW10-25UltL", "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-stretch: normal;
    text-transform: uppercase;
}

#novaLogo {
    position: absolute;
    margin: 0;
    padding: 0;
    top: calc(4vh - 23px);
    left: 4vw;
    height: 45px;
    width: 45px;
}

#icons {
    height: 8vh;
    width: 20vw;
    margin-left: 75vw;
}

.iconStyle {
    max-width: 4vw;
    max-height: 4vh;
    margin: 2.1vh 0.3vw;
    padding: 0;
    transition: all .2s ease-in-out;
    transform: scale(1,1);
}

.iconStyle:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2,1.2);
}

#shoppingCartIcon {
    margin-left: 4.5vw;
}

#cartText {
    font-family: "HelveticaNeueW10-25UltL", "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 3vh;
    left: 86vw;
    color: #D3D3D3
}

#backgroundPic {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.backgroundImgDimensions {
    position: relative;
    height: 100%;
    width: 100%;
}

#secondBar {
    position: absolute;
    top: 8vh;
    height: 6vh;
    width: 100%;
    background-color: #F4F4F4;
    opacity: 0.6;
}

.selectionHolder {
    text-align: center;
    height: 6vh;
}

#bottomBar {
    position: absolute;
    top: 72vh;
    height: 6vh;
    width: 100%;
    background-color: #F4F4F4;
    opacity: 0.6;
}

.clothingSelection {
    font-family: "HelveticaNeueW10-25UltL", "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 6vw;
    font-size: 20px;
    margin-bottom: 0;
}

.clothingSelection:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}

#topPicksContainer {
    overflow: hidden;
    width: calc(100vw - 17px);
    height: 94vh;
}

.topPicks {
    top: 80vh;
    float: left;
    width: 33.33%;
    height: 47vh;
    background-color: white;
}

.productContentHolder {
    padding-top: 2px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    width: 100%;
}

.image {
    height: 100%;
    width: 75%;
    margin-left: 12%;
    transform: scale(0.9,0.9);
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.name {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 16%;
    font-family: "HelveticaNeueW10-25UltL", "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.price {
    font-size: 20px;
    font-family: "HelveticaNeueW10-25UltL", "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 17%;
}

.infoContainer {
    margin-top: -2vh;
}

.nextArrow {
    position: absolute;
    left: 94vw;
    top: 47.5vh;
    transform: scale(0.8,0.8);
}

#popupHolder {
    position: absolute;
    top: 78.5vh;
    width: 100%;
    height: 93.5vh;
    overflow: hidden;
    visibility: hidden;
}

#defaultPopup {
    opacity: 0;
}

.popupPosition {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0vh;
    visibility: visible;
}


/*DESIGNS ADDED FOR PRODUCT POPUP*/

button {
    cursor: pointer;
}

.btn {
    background: 0px;
    border: 0px;
    cursor: pointer;
    font-family: 'HelveticaNeue-Light';
    font-weight: 100;

}

#productView {
    background-color: white;
    padding-left: 14vw;
    height: 93vh;
}

#backBtn {
    font-family: "HelveticaNeueW10-25UltL", "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    position: relative;
    top: 8vh;
    margin-left: 1vw;
    color: #B0B0B0;
    height: 15px;
}

#productImg {
    float: left;
    margin: 1em;
    overflow: hidden;
}

#smallproductImg {
    float: left;
    margin-top: 1em;
    overflow: hidden;
}

#nameText {
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
    font-size: 2em;
    text-align: left;
    padding-left: 0vw;
    text-decoration: none;
    border-bottom: 1px solid black;
}

#colorText {
    font-family: "HelveticaNeue-Light";
    font-size: 1.4em;
    margin-top: 2vh;
    float: left;
    margin-left: -0.6vw;
}

.colorBtn {
    border: 1px solid black;
    height: 3.6vh;
    width: 2vw;
    margin-top: 3.2vh;
    margin-left: 1vw
}

#color1 {
    background-color: white;
}

#color2 {
    background-color: coral;
}

#sizeTitle {
    position: relative;
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
    font-size: 1.4em;
    float: left;
    padding-top: 5vh;
}

.sizeButton {
    border: none;
    background-color: white;
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
    font-size: 1.2em;
    position: relative;
    top: -10.3vh;
    left: -3.7vw;
    background-color: white;
    left: 2vw;
}

#szMedium {

}

#szLarge {

}

#szXLarge {

}

#priceLabel {
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
    font-size: 1.7em;
    float: left;
    margin-top: -1vh;
}

#addBtn {
    position: relative;
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
    background-color: white;
    border: solid 1px #dbdbdb;
    left: -2vw;
    top: 7vh;
    width: 10vw;
    height: 5vh;
}

#addBtn:hover {
    border: solid 1px black;
}

#descTitle {
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
    font-size: 1.2em;
    margin-top: 11vh;
}

ul {
    position: absolute;
    margin-top: 2vh;
    width: 30vw;
    font-family: "HelveticaNeue-Light";
    font-weight: 100;
}

li {
    padding: 3px;
}

#chartButton {

}

#srButton {
    margin-left: 3.9vw;
}

.productMainImgDim {
    height: 75vh;
    width: 30vw;
    margin-top: 10vh;
}

.productSecondaryImgDim {
    height: 17vh;
    width: 6vw;
    margin-top: 10vh;
}

#productRightContent {
    margin-left: 40vw;
    width: 30vw;
    height: 51.3vh;
    margin-top: 10vh;
}

#productDetails {
    height: 51.3vh;
}

#colorSection {
    height: 6vh;
    width: 25vw;
    float: left;
}

#sizeSection {
    width: 25vw;
    float: left;
}

#priceSection {
    margin-top: 5vh;
    height: 6vh;
    width: 25vw;
    float: left;
}

#descriptionSection {
    height: 20vh;
    width: 25vw;
    float: left;
}

#sizeAndShippingSection {
    height: 6vh;
    width: 25vw;
    float: left;
    margin-top: 16vh;
    margin-left: -0.8vw;
    margin-bottom: 0vh;
    color: lightblue;
    font-size: 1.5em;
}

#description {
    position: relative;
    float: left;
}

#sizeChoices {
    position: relative;
    top: 0.8vh;
    margin-left: 4vw;
}

.soldOutDisplay {
    width: 100%;
    height: 100%;
}

.soldOutImg {
    position: absolute;
    left: 50%;
    top: 80vh;
    margin-left: -11vw;
}

.soldOutText {
    text-align: center;
    font-family: "HelveticaNeueW10-25UltL", "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin-top: 60vh;
}

#mainLogo {
    position: absolute;
    transform: scale(0.3,0.3);
    top: -15vh;
    left: 2vw;
}

#clickThroughTitle {
    font-family: helvetica;
    font-weight: lighter;
    font-size: 1.6em;
    position: absolute;
    top: 38vh;
    left: 18vw;
}

#clickThroughButton {
    font-family: helvetica;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid black;
    color: black;
    font-size: 20px;
    position: absolute;
    background: none;
    border: none;
    left: 26vw;
    top: 44vh;
}

#clickThroughButton:hover {
    text-decoration: none;
    color: gray;
}



/*#productContainers {*/
    /*overflow: hidden;*/
    /*width: calc(100vw - 17px);*/
    /*height: 93vh;*/
/*}*/


/*END OF PRODUCT POPUP CSS*/


